<section id="lead-metrics">
  <% if lead_metrics %>
    <div class="metrics-panel">
      <div class="lead-metric">
        <h2>Unique pageviews</h2>
        <p class="count">
          <%= human_readable_number(lead_metrics.unique_pageviews_average) %> <span class="unit">per day</span>
        </p>
      </div>
      <div class="wide-lead-metric">
        <h2>Searches started from this page</h2>
        <p class="count">
          <%= human_readable_number(lead_metrics.exits_via_search_average) %> <span class="unit">per day</span>
        </p>
      </div>
    </div>
    <div class="metrics-panel">
      <div class="lead-metric">
        <h2>Problem reports</h2>
        <p class="count">
          <%= human_readable_number(lead_metrics.problem_reports_weekly_average) %> <span class="unit">per week</span>
        </p>
      </div>
      <% if lead_metrics.top_10_search_terms.present? %>
        <div class="wide-lead-metric search-terms">
          <h2>Users left this page by searching for:</h2>

          <div class="search-terms-list">
            <ul>
              <% lead_metrics.top_10_search_terms.each do |search_term| %>
                <li><%= search_term[:keyword] %> (<%= search_term[:total] %>)</li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
