<section id="lead-metrics">
  <% if lead_metrics %>
    <%- if format == 'guide' %>
    <h2>Metrics for entire guide</h2>
    <%- end %>
    <div class="metrics-panel">
      <div class="lead-metric">
        <h2>Unique pageviews</h2>
        <p class="count">
          <%- if format == 'guide' %>
            <%= human_readable_number(lead_metrics.unique_pageviews_multipart_average) %>
          <%- else %>
            <%= human_readable_number(lead_metrics.unique_pageviews_average) %>
          <%- end %>
          <span class="unit">per day</span>
        </p>
      </div>
      <div class="wide-lead-metric">
        <h2>Searches started
          <%- if format != 'guide' %>
            from this page
          <%- end %>
        </h2>
        <p class="count">
          <%- if format == 'guide' %>
            <%= human_readable_number(lead_metrics.exits_via_search_multipart_average) %>
          <%- else %>
            <%= human_readable_number(lead_metrics.exits_via_search_average) %>
          <%- end %>
          <span class="unit">per day</span>
        </p>
      </div>
    </div>
    <div class="metrics-panel">
      <div class="lead-metric">
        <h2>Problem reports</h2>
        <p class="count">
          <%- if format == 'guide' %>
            <%= human_readable_number(lead_metrics.problem_reports_multipart_weekly_average) %>
          <%- else %>
            <%= human_readable_number(lead_metrics.problem_reports_weekly_average) %>
          <%- end %>
          <span class="unit">per week</span>
        </p>
      </div>
      <% if lead_metrics.top_10_search_terms.present? %>
        <div class="wide-lead-metric search-terms">
          <h2>Users left by searching for:</h2>

          <div class="search-terms-list">
            <ul>
              <% lead_metrics.top_10_search_terms.each do |search_term| %>
                <li><%= search_term[:keyword] %> (<%= search_term[:total] %>)</li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
