<div class="need-wrapper">
  <p class="need-label">The user need for this page:</p>
  <p class="need">
    <span class="role">As a <%= need["role"] %></span>
    <span class="goal">I need to <%= need["goal"] %></span>
    <span class="benefit">So that <%= need["benefit"] %></span>
  </p>
</div>

<div class="reason-block first">
  <% if need["met_when"].present? %>
    <h2>The need is met when the user:</h2>
    <ul>
      <% need["met_when"].each do |met| %>
        <li><%= met %></li>
      <% end %>
    </ul>
  <% else %>
    <h2>There are no recorded criteria to know when this need is met.</h2>
  <% end %>
</div>

<div class="reason-block">
  <% if need["justifications"].present? %>
    <h2>This need is <%= link_to "in proposition", "https://www.gov.uk/government/publications/govuk-proposition/govuk-proposition" %> because:</h2>
    <ul>
      <% need["justifications"].each do |justification| %>
        <li><%= justification %></li>
      <% end %>
    </ul>
  <% else %>
    <h2>There are no recorded reasons why this need is in proposition for GOV.UK.</h2>
  <% end %>
</div>
