<% if !per_page_metrics.empty? %>
  <h2 class="govuk-heading-l">Metrics for individual pages</h2>
  <div id="per-page-metrics" class="metrics-panel">
    <table class="govuk-table app-c-table">
      <thead class="govuk-table__head">
        <tr>
          <th scope="col" class='govuk-table__header page'>Page</th>
          <th scope="col" class='govuk-table__header unique_pageviews'>Unique pageviews</th>
          <th scope="col" class='govuk-table__header searches'>Searches started from this page</th>
          <th scope="col" class='govuk-table__header problem_reports'>Problem reports</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% per_page_metrics.each do |t, a| %>
          <tr class="govuk-table__row">
          <td class='govuk-table__cell page'><a class="govuk-link" href="<%= t %>"><%= t %></a></td>
          <td class='govuk-table__cell unique_pageviews'><%= human_readable_number(a.unique_pageviews_average) %> per day</td>
          <td class='govuk-table__cell searches'><%= human_readable_number(a.exits_via_search_average) %> per day</td>
          <td class='govuk-table__cell problem_reports'><%= human_readable_number(a.problem_reports_weekly_average) %> per week</td>
        <% end %>
      </tbody>
    </table>

  </div>
<% end %>
