<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> - GOV.UK</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', integrity: false %>
  <%= javascript_include_tag 'application', integrity: false %>
</head>
<body>
  <div id="global-breadcrumb" class="header-context"></div>
  <div id="wrapper">
    <%= render 'govuk_publishing_components/components/phase_banner', phase: 'alpha' %>
    <main role="main" class="info-frontend">
      <%= yield %>
    </main>
  </div>
</body>
</html>
