<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> - GOV.UK</title>
  <%= stylesheet_link_tag 'application', media: 'all', integrity: true, crossorigin: 'anonymous' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="global-breadcrumb" class="header-context"></div>
  <div id="wrapper">
    <%= render 'govuk_component/alpha_label' %>
    <main role="main" class="info-frontend">
      <%= yield %>
    </main>
  </div>
</body>
</html>
