<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> - GOV.UK</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="global-breadcrumb" class="header-context"></div>
  <div id="wrapper">
    <div class="outer-block">
      <div class="inner-block">
        <%= render 'govuk_component/alpha_label' %>
        <main role="main" class="info-frontend">
          <%= yield %>
        </main>
      </div>
    </div>
  </div>
</body>
</html>
